{% extends 'my_app/base.html' %}

{% block title %}Dodaj Kategorię - FINEance App{% endblock %}

{% block content %}
<div class="form-section" style="max-width: 600px; margin: auto;">
    <h2 class="text-center mb-4">Dodaj nową kategorię</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'category_list' %}">Anuluj i wróć do listy</a>
        </div>
    </form>
</div>
{% endblock %}